<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment">
            <group id="paystand_paystandmagento" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>PayStand</label>
                <comment>
                    <![CDATA[
                    <a href="https://www.paystand.com" target="_blank">Click here for information about PayStand</a><br/>
                    Note: Before you enable PayStand as a payment method, you need to register with PayStand to receive webhooks so that your Magento system can be updated when payments clear.<br/>
                    The url you need to register is http://{your magento base url}/paystandmagento/webhook/paystand
                    ]]>
                </comment>
                <field id="is_active" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="publishable_key" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Publishable Key</label>
                </field>
                <field id="use_sandbox" translate="label" type="select" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Use Sandbox</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>